body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
    background-color: black;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: white;
}
section {
    flex-basis: 67%;
	margin-right: 5%;
    margin-left: 5%;
}
.breeds {
    text-align: right;
}
aside {
	flex-basis: 33%;
}
.doggos {
    margin-top: 10%;
    align-items: center;
    display: flex;
    flex-flow: column nowrap; 
    justify-content: center;
}
.spinner {
    font-size: 50px;
    text-align: center;
    animation: 2s spin linear infinite;
    display: none;
 }
.dogimg {
    display: none;
    text-align: center;
}
.show {
     display: block;
 }

